body {
	background-color: #69bf64;
}

.grean { 
	font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif; 
	font-size: 5em;
	color: darkolivegreen;
}

.abouttext{
	font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif; 
	color: white;
	  margin-bottom: 80px;
	  margin-right: 160px;
	  margin-left: 100px;
}

div{
	font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif;
	font-size: xx-large; 
	color: darkgreen;
	text-align: center;
}

p {
	color: white;
	font-size: medium;
	padding-left: 35%;
	padding-right: 35%;
}

a {
  color: white;
}

a:hover{
	color: darkolivegreen;
}

#contacticons{
	max-width: 40px;
	max-height: 40px;
}

.myButton {
	box-shadow:inset 0px 39px 0px -24px darkolivegreen;
	background-color:darkolivegreen;
	border-radius:4px;
	border:1px solid #69bf64;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.myButton:hover {
	background-color:#69bf64;
}
.myButton:active {
	position:relative;
	top:1px;
}

